body {
    background-color: #dddddd;
}

.knight {
    font-size: 45px;
}

.knight_in-black-square {
    color: #bbbbbb;
}

.knight_in-white-square {
    color: #444444;
}

.square {
    width: 100px;
    height: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.square_black {
    background-color: #000;
}

.square_white {
    background-color: #fff;
}

.board {
    display: inline-flex;
    flex-direction: column;
}

.board__row {
    display: inline-flex;
    flex-direction: row;
}