body {
    background-color: #dddddd;
}

.knight {
    font-size: 65px;
    cursor: move;
}

.knight_in-black-square {
    color: #bbbbbb;
}

.knight_in-white-square {
    color: #444444;
}

.knight_dragging{
    opacity: 0.5;
}

.square {
    width: 100px;
    height: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.square_black {
    background-color: #000;
}

.square_white {
    background-color: #fff;
}

.square_can-drop {
    background-color: #c3ff9f;
}

.square_black.square_over {
    background-color: #414141;
}
.square_white.square_over {
    background-color: #cbcbcb;
}

.square_over.square_can-drop {
    background-color: #70ff5a;
}

.board {
    display: inline-flex;
    flex-direction: column;
}

.board__row {
    display: inline-flex;
    flex-direction: row;
}